.first-screen {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: span 24;
  }

  &__heading {
    font-size: 24px;
    color: $c-button-blue;
  }

  &__create-btn {
    display: flex;
    padding: 16px 110px;
    justify-content: center;
    align-items: center;

    border: 1px solid $c-button-blue;
    border-radius: 40px;
    @include hover(background-color, #E3DBFF);

  }
}
