// #devices width
$tablet-min-width: 640px;
$desktop-min-width: 1200px;

// #colors
$c-button-blue: #4219d0;
$c-background: #f1f0fa;
$c-black: #0f0f11;
$c-light-grey: #C7C7C7;
$c-grey: #9B9B9B;
$c-white: #FFF;
$c-green: #00E25B;

$c-purple: #B488F8;
$c-yellow: #E5F699;
$c-red: #F5957A;
$c-blue: #26E6FA;
$c-orange: #F9CA7C;

$effect-duration: 0.3s;
