.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 20px;

  background-size: contain;
  background-position: center;

  &--edit {
    background-image: url('./../../../public/icons/edit.svg');
  }

  &--not-highlighted {
    background-image: url('./../../../public/icons/star.svg');
    background-size: contain;
    background-position: center;

    height: 16px;
    width: 16px;
  }

  &--highlighted {
    background-image: url('./../../../public/icons/star-filled.svg');
    background-size: contain;
    background-position: center;

    height: 16px;
    width: 16px;
  }

  &--copy {
    background-image: url('./../../../public/icons/copy.svg');
  }

  &--back {
    background-image: url('./../../../public/icons/back.svg');
  }

  &--clear {
    background-image: url('./../../../public/icons/clear.svg');
  }
}
