@import './styles/utils//vars.scss';
@import './styles/utils/mixins.scss';
@import './styles/utils/reset.scss';

@import './styles/icons/icon.scss';

@import './components/FirstScreen/FirstScreen.scss';
@import './components/CreateForm/CreateForm.scss';
@import './components/NoteList/NoteList.scss';
@import './components/NoteItem/NoteItem.scss';
@import './components/Loader/Loader.scss';
@import './components/Header/Header.scss';
@import './components/Popup/Popup.scss';

.App {
  display: flex;
  flex-direction: column;

  @include paddingInline;
  @include paddingBlock;

  height: 100%;

  background-color: $c-background;

  &__loading {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    @include bodyText($c-black);
    text-align-last: center;
  }
}
